version: '2.1'
services:


  toerio-gui:
    build: ../../frontend
    networks:
      - toerio

  toerio-api: 
    image: ../../api
    networks: 
      - toerio
    # environment: 
      # TODO: add environment variables.

  toerio-gateway:
    image: ../../gateway
    networks:
      - toerio
    ports: 
      - "5000:80"

    # Critical to prevent nginx crashing with 'upstream server not found'
    depends_on:  
      - toerio-api
      - toerio-gui


networks:
  toerio: