version: '3.8'
services:


  toerio-gui:
    image: oscardeli/toerio-gui:latest
    networks:
      - toerio

  toerio-api: 
    image: oscardeli/toerio-api:latest
    networks: 
      - toerio
    environment: 
      NODE_ENV: ${NODE_ENV}
      port: ${port}
      databaseUser: ${databaseUser}
      databasePassword: ${databasePassword}
      databaseName: ${databaseName}
      minioURI: ${minioURI}
      minioPUB: ${minioPUB}
      minioPRIV: ${minioPRIV}
      
    # The API requires toerio-storage to save audio files.
    depends_on:
      - toerio-storage

  toerio-gateway:
    image: oscardeli/toerio-gateway:latest
    networks:
      - toerio
    ports: 
      - "80:80"

    # Critical to prevent nginx crashing with 'upstream server not found'
    depends_on:  
      - toerio-api
      - toerio-gui

  # TODO: Create secure pw + username (in env), put behind HTTPS + load balancing using NGINX.
  toerio-storage:
    image: minio/minio:latest
    networks: 
      - toerio
    volumes:
      - datavolume:/data
    ports:
      - "9000:9000"
    environment:
      MINIO_ACCESS_KEY: ${minioPUB}
      MINIO_SECRET_KEY: ${minioPRIV}

    command: server /output


networks:
  toerio:

volumes:
  datavolume: